.wallet hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #999;
    clear: left;
    margin-top: 0;

}

.wallet b {
    color: #FDC200;
}

.wallet h4 {
    margin: 0;
    text-align: center;
    color: #fff;
}


/*新手教學頁面樣式*/

.wallet .tutorial_head {
  margin-top: 0px;
}

.wallet .tutorial_head ul {
  white-space: nowrap;
  font-size: 0;
  margin-left: 0;
}
.wallet .tutorial_head li {
  width: 25%;
  background-color: #eee;
  border-radius: 6px 6px 0 0;
  text-align: center;
  border: 2px solid rgba(34,34,34,.9);
  border-bottom: none;
}
.wallet .tutorial_head li.active {
  background-color: rgba(255,255,255,.95);
}
.wallet .tutorial_head li.active a {
  color: #f12513;
}
.wallet .tutorial_head ul li:first-child {
  border-left: 4px solid rgba(34,34,34,.9);
}
.wallet .tutorial_head ul li:last-child {
  border-right: 4px solid rgba(34,34,34,.9);
}
.wallet .tutorial_head li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #222;
  letter-spacing: 1px;
  padding: 15px 0;
}

.content3 .content2{
    position: relative;
}



.input_mainpg {
    padding: 0;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: -4px;
    margin-right: 0;
}


.wallet h6 {
    font-weight: 400;
    text-align: center;
    color: #ccc;
    margin-bottom: 20px;
}

.wallet_detailpop h1 {
    color: #FDC200;
    text-align: center;
    padding: 40px 0 5px 0;
    font-weight: 400;
    border-bottom: 2px solid rgba(241, 112, 19, .8);
    margin-bottom: 30px;
}

main .title_bar {
    color: #ddd;
    font-size: 28px;
    border-bottom: 1px dashed #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

main .title_bar span {
    color: #fdc200;
}

.bouns h5,
.wallet_content_right h3 ,
.wallet_localbank h5 {
    text-align: center;
    color: #FDC200;
}


.wallet_nobouns h5{
    font-size: 16px !important;
    color: #e0461e;
    font-weight: 400;
    margin: 20px auto;
}

.wallet_lottery h5 {
    margin-top: 30px;
    display: inline-block;
    margin-left: -4px;
    color:#FDC200;
}

.wallet_service h5 {
    color: #ddd;
}

.wallet_service i{
    color: #ddd;
}

.wallet_localbank h4 {
    color: #fff;
    text-align: center;
}

.wallet_localbank{
    padding-top: 10px;
}

.wallet_lottery_p {
    color: #9B9B9B;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.wallet_lottery{
    text-align: center;
    padding: 1px 0 20px 0;
    background-color: #4e494554;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto 30px auto;
    border: 1px #f9e9d37d dashed;
}

.wallet_nobouns{
    text-align: center;
    padding: 30px 0;
}

.wallet_nobouns img{
    width: 30%;
    margin: 0 auto;
}

.payment_note h3,
.payment_note i {
    display: inline-block;
}

.wallet_detailpop .payment_note {
    margin: 20px 0;
}

.wallet_detailpop .wallet_ggaccount2 ul li {
    text-align: center;
}

.payment_top {
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 30px;
    width: 900px;

}

.wallet_bg {
    margin: 0px 0 10px 0;
}

.wallet_content_right {

    width: 900px;
    min-height: 300px;
    margin: 0 auto;
}



.payment_bottom {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 900px;
    padding: 30px 30px;

}







/*存款才出現的第二層tab*/

.wallet_tab_lv2 {
    background-color: #000;
    background-image: url('https://www.transparenttextures.com/patterns/shattered.pn');
}





/*存款tab下的content*/

.wallet .col-md-10 {}





/*輸入存款金額*/

.wallet_saveAmount {
    display: inline-block;
    margin-left: -4px;
    text-align: right;
    width: 104px;
}

.wallet_saveAmount p,
.wallet_lottery_left p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.wallet_lottery_left p {
    margin-left: 10px;
}

.wallet_service p {
    font-size: 12px;
    font-weight: 400;
    color: #ddd;
}

.form_group {
    display: inline-block;
    margin-left: -4px;
}



/*選擇彩金*/

.wallet_save_input {
    text-align: center;
    padding: 0;
    font-size: 12px;
    position: relative;
}

.title_bar_money {
    float: right;
}

.wallet_service ul,
.title_bar_1 {
    display: inline-block;
    margin-right: -4px;
}

.title_bar_1 p {
    font-size: 20px;
    color: #fff;
}

.title_bar_1 img {
    width: 45px;
}

.wallet_service u {
    color: #fff;
    font-weight: 500;
}

.wallet_save_input ul li {
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}



.wallet_service ul li {
    display: inline-block;
    margin-right: -4px;
}

.wallet_lottery ul li {
    text-align: left;
    display: inline-block;
    margin-right: -4px;
}

.wallet_ggaccount2 ul {
    margin: 0 auto;
}

.wallet_lottery hr {
    width: 350px;
}


.wallet_lottery_left {
    text-align: left;
    width: 350px;
    margin: 0 auto;
}

.wallet_list_right {
    text-align: right !important;
}

.wallet_list_left {
    text-align: left !important;
}

.wallet_lottery .wallet_ggaccount2 ul {
    margin-bottom: -1px;
    text-align: center;
}

.wallet_list270 ul li {
    width: 270px !important;
    font-size: 1em;
}

.padding_20 {
    padding: 40px 0 !important;
}

.padding_20 h3 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px #0000005c;
    font-weight: 400;
}

.bonus_bar {
    background: -webkit-linear-gradient(-45deg, #c42927 0%,#d3745f 100%);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.bonus_bar p {
    color: #fff;
    font-size: 12px;
}

.wallet_ggaccount{
    width: auto;
    margin: 20px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin-left: -4px;
}

.wallet_bg .wallet_ggaccount2 ul li {
        font-size: 12px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-right: -4px;
    width: 115px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* margin: 2px; */
    padding: 5px;
    border-bottom: solid 1px #8e8e8e;
    /* box-sizing: content-box; */
    /* box-shadow: 0 0 6px rgba(0, 0, 0, .9); */
}


.wallet_detailpop .wallet_ggaccount .wallet_ggaccount2 ul li {
    color: #fff;
    font-weight: 400;
    display: inline-block;
    margin-right: -4px;
    width: 150px;
    background-color: rgba(189, 16, 37, 0.7);
    margin: 2px;
    padding: 5px;
    border: solid 1px #691822;
    box-sizing: content-box;
}


.wallet_lottery .wallet_ggaccount,
.wallet_ggaccount2 {
    margin-bottom: 30px;
}

.payment_note {
    width: 100%;
    display: block;
    padding: 20px;
    background-color: #191919;
    min-height: 120px;
}

.wallet_attest .payment_note {
    width: 80%;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
}

.payment_note h5 {
    text-align: center;
    color: #fff;
    display: block;
    margin: 15px 0;
}

.payment_note ol {
    display: block;
    float: left;
    list-style-type: decimal;
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.payment_note li {
    color: #ddd;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.payment_note ol li ul li {
    list-style-type: lower-latin;
    margin-left: 15px;
}

.payment_note ol li span {
    color: #999;
}

.payment_note ol p {
    color: #999999;
    line-height: 24px;
    font-size: 14px;
    margin-left: -20px;
}


.bouns .wallet_bg h5 {
    font-size: 20px;
}

.bottomareabox {
    margin: 0 auto;
}


.payment_note ol {
    margin: 5px 0px 30px 0px;
}

.title_bar_m {
    margin-right: 15px;
}


.wallet_attest .payment_note {
    margin-bottom: 30px;
}

.wallet_attest h5 {
    color: #fdc200;
    display: inline-block;
    margin-left: -4px;
}


.wallet_attest {
    text-align: center;
}

.wallet_attest_1 {
    padding: 30px;
    border-bottom: 1px dashed #999;
}

.wallet_attest_2 {
    padding: 30px;
}

.wallet_attest_3 {
    padding: 0 0 30px 0;
    border-bottom: 1px dashed #999;
}


.fa-3x {
    color: #fdc200;
}

.wallet .wallet_bg .wallet_save_input .input_mainpg{
    width: 242px;
    font-size: 13px;
    color: #ddd;
    padding-left: 5px;
}

.btncenter {
    text-align: center;
    padding: 20px 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wallet_service {
    text-align: center;
    background-color: #000;
    background-image: url('https://www.transparenttextures.com/patterns/shattered.png');
    padding: 30px 0 16px 0;
}

.btncenter .btndefault {
    padding: 10px 100px;
}

.wallet_detailpop .btncenter {
    text-align: center;
    padding: 10px 0 50px 0;
}

a {
    text-decoration: none !important;
}


.wallet_bg .btn-group button{
    font-size: 12px;
    font-weight: 400;
    color: #66AEFF;
    padding: 10px 0;
}

.wallet_bg .btn-group .btn-default{
    background-color: transparent;
    border: none;

    border-bottom:1px solid #66AEFF;
}

.wallet_bg .btn-group .btn-default:hover{
    background-color: rgba(0,4,0,.9);
    border-bottom:1px  dashed;
}

.bouns_bottomline{
    width: auto;
    border-bottom: 1px #ddd solid !important;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}

.botom2{
    margin: 8px 0 0 7px;
    display: inline-block;
    position: absolute;
    top: 0;
    color: #FDC200 !important;
    border-bottom: 1px #FDC200 solid !important;
}

.botom2 i{
    color: #FDC200 !important;
}

.bouns_bottomline i{
    padding: 0;
    margin: 0;
    padding-right: 5px;
    color: #ddd;
}

.bouns_bottomline p ,
.bouns_bottomline label{
    cursor: pointer !important;
    margin: 0;
}

.bouns .wallet_ggaccount2 ul li {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    display: inline-block;
    margin-right: -4px;
    width: 150px;
    padding: 5px;
    border-bottom: solid 1px #8e8e8e;
}

.error_msg{
    font-size: 12px;
    color: #e0461e;
    padding: 0;
    margin: 0;
    position: relative;
    top: -15px;
    right: -57px;
    text-align: center;
}
