/*共用背景樣式*/
.ranking .board {

  padding: 20px;
  margin: 50px 0;
}
.ranking .titleimg {
  width: 110px;
  margin-bottom: 30px;
}
.ranking .title_bar {
  color: #fbc200;
  font-size: 28px;
  border-bottom: 1px dashed #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/*Set font-family*/
.ranking .list .item .week_rank,
.ranking .list .item .mounth_rank,
.ranking .content .table_body .ranking_item .rank,
.ranking .content .table_body .ranking_item .score,
.ranking .content .table_body .ranking_item .bonus {
  font-family: 'Impact';
  letter-spacing: 2px;
  color: #8036ea;
}

/*積分排行榜外層list*/
.ranking .list a.btndefault {
  float: right;
}
.ranking .list .item {
  position: relative;
      width: 100%;
    transition: .3s ease;
    box-shadow: 3px 3px 4px 1px #607d964d;
    background: #fff;
    border: 1px solid #434b54;
    margin: 20px 0;
}
.ranking .list .item:hover {
  opacity: .6;
  transform: translate(1px,1px);
}


.ranking .list .item > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.ranking .list .item > i {
  position: absolute;
  font-size: 40px;
  color: rgba(242, 75, 12, .7);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.ranking .list .item .ranking_title {
  width: 100%;
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}
.ranking .list .item .ranking_title img {
  width: 40px;
  display: block;
  margin: 0 auto;
}
.ranking .list .item .week_rank,
.ranking .list .item .mounth_rank {
  width: 50%;
  font-size: 26px;
  text-align: center;
}
.ranking .list .item .week_rank p,
.ranking .list .item .mounth_rank p {
  margin-bottom: 0;
  font-size: 14px;
  color: black;
}
.ranking .list .item .week_rank {
  border-right: 1px dashed #666;
}

/*積分排行榜 detail*/
.ranking .title_bar {
  line-height: 40px;
}
.ranking .title_bar img {
  width: 40px;
  margin-right: 10px;
}
.ranking .content a.btndefault {
  float: right;
  font-size: 14px;
  line-height: 1.5;
}
.ranking .content .table_head {
  color: #fff;
  font-size: 0;
}
.ranking .content .table_head > div {
  display: inline-block;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
}
.title h2{
  text-align: center;
  color: #b54242;
}
.ranking .content .table_head .time,
.ranking .content .table_head .date_range {
  text-align: right;
  color: #34373d;
}
.ranking .content .table_head .time span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.ranking .content .table_head .table_label {
  font-size: 0;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
  color: #000;
}
.ranking .content .table_label > div {
  position: relative;
  line-height: 25px;
}
.ranking .content .table_label .score {
  padding-left: 0;
}
.ranking .content .table_label .score i {
  padding: 0;
  font-size: 15px;
  margin-right: 10px;
  color: #fff;
}
.ranking .content .table_label .bonus {
  padding-left: 35px;
}
.ranking .content .table_label .rank::before,
.ranking .content .table_label .player::before,
.ranking .content .table_label .bonus::before {
  content:' ';
  position: absolute;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  left: 0;
}
.ranking .content .table_label .rank::before {
  background-position: -1284px -4px;
}
.ranking .content .table_label .player::before {
  background-position: -1284px -38px;
}
.ranking .content .table_label .bonus::before {
  width: 30px;
  background-position: -1280px -77px;;
}

/*Set Table inline-block*/
.ranking .content .ranking_item,
.ranking .content .ranking_item .player {
  font-size: 0;
}


.ranking .content .ranking_item{
  height: 65px;
}


.ranking .content .table_label > div,
.ranking .content .table_body .ranking_item > div,
.ranking .content .ranking_item .player > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

/*Set Table width*/
.ranking .content .ranking_item {
  padding: 10px 15px;
  border-bottom: 1px dashed #6666665c;
}


/*Set Table Body*/

.ranking .content .table_body {
  border:1px solid #ccc;
}
.ranking .content .table_body .ranking_list {
  position: relative;
  height: 559px;
  overflow-y: scroll;
  background-color: #f7f7f7;
  border:1px solid #ccc;
}

/*Set Table item*/
.table_body .ranking_item:nth-child(odd) {
  background-color: #fff;
}
.table_body .ranking_item:hover {
  background-color: rgba(255,255,255,.1);
}
.table_body .ranking_item:last-child {
  border-bottom: none;
}
.ranking .conetent .player p {
  width: calc(100% - 40px);
}
.ranking .content .ranking_item .avatar,
.ranking .content .ranking_item img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.ranking .content .ranking_item .avatar {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 100%;
}
.ranking .content .table_body .ranking_item > div {
  font-size: 20px;
}
.ranking .content .table_body .ranking_item .player .name {
  font-size: 0.5em;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 50px);
}


.ranking .content .table_body .ranking_item .bonus {
  text-shadow: 2px 2px #000;
}
.ranking .content .table_body .ranking_item .rank h3{
  padding: 0;
    margin: 0;
    font-size: 1em;
    color: #333;
    font-family: Arial;
    font-weight: bolder;
    padding: 10px 0;
}

.ranking .content .table_body .ranking_item .score{
  padding: 0;
margin: 0;
color: #b54242;
font-family: Arial;
font-weight: bolder;
     position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.ranking .content .table_body .ranking_item .rank img {
  height: auto;
  width: 90px;
}






/*Set to-top*/
.ranking .to_top {
  float: right;
  color: #fff;
  font-size: 20px;
}
.ranking .to_top img {
  width: 45px;
}


/* Ensure elements load hidden before ScrollReveal runs */
.sr .item { visibility: hidden; }

/*Animation*/
@keyframes shake_animate {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width: 767px) {

.ranking .list .item > i{
  display: none;
}

}

/*Tab樣式覆蓋*/

.ant-tabs-tab{
  background-color: #ccc;
}
