hr {
    height: 1px;
    border-top: 1px dashed #999;
    margin: 0;
    padding: 0;
}



.fpk1_right .form_group .btndefault{
    margin-right: 0;
    display: inline-block;
}



/*賽事x1的白色大底版*/

.fpk1_bg {
    width: 100%;

    background-position: -300px -40px;
    color: #000;
    box-shadow: 6px 6px 0px;
    margin: 0 auto;
    display: flex;
    margin: 40px 0;
}







/*最下面黑色底版的內距*/

.fpk_1,
.fpkdetail_1 {
    padding: 50px;
}







/*賽事的左區塊-總彩池*/

.fpk1_left {
    flex: 1;
}

.fpk1_left_1 {
    padding: 20px 10px;
}

.fpk1_center {
    flex: 1.5;
    border-left: 1px dashed #999;
    padding: 20px 10px;
}

.fpk1_right {
    background-color: rgba(34, 34, 34, 1);
    flex: 1.3;
    padding: 20px 10px;
}

.fpk1_rightbtn {
    margin-top: 75px;
    text-align: center;
}

.fpk1_rightbtn .btndefault{
    padding-left: 30%;
    padding-right: 30%;
}

.fpk1_finalbtn .btndefault {
    padding-left: 10%;
    padding-right: 10%;
}

.fpk1_right .form_group{
    text-align: center;
}

.fpk1_right .form_group input {
    text-align: center;
    position: relative;
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-right:10px;
    margin-bottom: 0;
}

.fpk1_rightselect {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 8%;
}

.fpk1_rightselect h3 {
    font-weight: 900;
    display: inline-block;
    margin-left: -4px;
    padding: 10px;
    color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    margin-top: 10px;
}

.fpk1_rightgold {
    margin-right: 15px;
    background-color: #fdc200;
}

.fpk1_rightsilver {
    background-color: #444;
}







/*左區塊樣式*/

.fpk1_center .radiooption h4 {
    color: #333;
    font-size: 15px;
}

.fpk_1 .fpk1_bg .fpk1_left .fpk_silver_gold ul {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.fpk_silver_gold ul li {
    text-align: left;
    display: inline-block;
    margin-left: -4px;
    vertical-align: text-bottom;
}

.fpk_1 .fpk1_bg .fpk1_left h3,
.fpk_1 .fpk1_bg .fpk1_center h4 {
    font-weight: 500;
    font-size: 15px;
    color: #f17013;
    margin: 0;
    margin: 10px 0;
    text-align: center;
}

.gold_left {
    width: 40px;
}

.money_right {
    width: 100px;
}

.fpk_silver_gold ul {
    text-align: center;
}

.fpk_1 .fpk1_bg .fpk1_center h4 {
    text-align: left;
}


.fpk_1 .fpk1_bg .fpk1_right h5 {
    color: #fff;
    text-align: center;
}

.fpk_silver_gold h5 {
    color: #666;
    font-size: 16px;
    margin-left: 8px;
}

.fpk_1 .fpk1_bg .fpk1_left hr,
.fpk_1 .fpk1_bg .fpk1_center hr,
.fpk_1 .fpk1_bg .fpk1_right hr {
    border-top: 2px solid rgba(241, 112, 19, .5);
    margin-bottom: 10px;
}

.fpk_1 .fpk1_bg .fpk1_left p,
.fpkdetail_1_pool p {
    font-size: 12px;
    background-color: #f17013;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.fpk1_bg .fa-clock,
.fpkdetail_1_pool .fa-clock {
    color: #fff;
}

.fpk_silver_gold img {
    width: 40px;
}







/*中間區塊樣式*/

.radiooption_content {
    position: relative;
}

.betnow {
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.radiooption_content input {
    float: left;
}

.radiooption_content ul {
    padding: 12px 0;
    margin: 0;
}

.radiooption_content ul li {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.radiooption_content p {
    font-size: 13px;
    color: #666;
    font-weight: 500;
    padding-left: 5px;
    margin-left: 15px;
}

.fpk1_center .radiooption .btnsys p {
    padding-left: 0;
    margin-left: 0;
    color: #000;
}




/*fpk內頁_標題*/

.fpkdetail_1_top,
.fpkdetail_2_content,
.fpkdetail_3_content,
.fpkdetail_4_money {
    color: #fff;
    width: 100%;
}

.fpkdetail_1_top_left {
    width: 85%;
    display: inline-block;
    margin-left: -4px;
    margin: 0;
    padding: 0;
}

.fpkdetail_1_top_left h3,
.fpkdetail_1_top_right p,
.fpkdetail_1_top_right h5 {
    font-weight: 300;
}

.fpkdetail_1_top_left h3 {
    color: #fff;
}

.fpkdetail_1_top_right {
    width: 15%;
    display: inline-block;
    margin-left: -4px;
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    font-weight: 400;
}

.fpkdetail_2_content,
.fpkdetail_3_content {
    display: flex;
}

.fpkdetail_1_pool {
    margin-top: 5px;
    flex: 1;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: 5px;
    position: relative;
}

.fpkdetail_1_desc {
    margin-top: 5px;
    margin-left: 5px;
    flex: 2;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    border-radius: 5px;
}


.fpkdetail_1_pool h2,
.fpkdetail_1_desc h2 {
    text-align: center;
    font-weight: 400;
    color: #f17013;
}

.fa-trophy {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.fpkdetail_1_desc .fa-2x {
    font-size: 28px;
    margin-right: 5px;
    color: #fdc200;
}

.fpkdetail_1_desc h2 {
    text-align: left;
}

.fpkdetail_1_desc h4 {
    font-weight: 400;
    color: #666;
}

.fpkdetail_1_desc p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    color: #333;
}

.fpkdetail_1_pool .fpk_silver_gold {
    margin-top: 10px;
}

.fpkdetail_1_desc .fpk1_rightbtn {
    margin-top: 30px;
    text-align: right;
}

.fpkdetail_1_desc .fpk1_rightbtn .btndefault {
    padding-left: 30px;
    padding-right: 30px;
}

.fpkdetail_1_poolcircle {
    font-size: 11px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.fpkdetail_3_content {
    background-color: #664DA1;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: 0px 3px 0px #2A1B44;
}



.fpkdetail_1_poolbet {
    margin-top: 5px;
    flex: 1.2;
}

.fpkdetail_1_pooltext {
    margin-top: 5px;
    flex: 2;
}

.fpkdetail_1_poolbet .fpk_silver_gold ul {
    display: inline-block;
}

.fpkdetail_1_poolbet .fpk_silver_gold .money_right h5 {
    font-size: 22px;
    color: #f8f6f5;
    font-weight: 400;
    text-shadow: 2px 2px #000;
}

.fpkdetail_3_content .fpkdetail_1_pooltext h3 {
    margin: 0;
    padding: 0;
    padding: 25px 0;
    font-size: 15px;
    font-weight: 400;
    margin-left: 20px;
    color: #f3c035;
    text-shadow: 2px 2px #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fpkdetail_1_poolbet .fpk_silver_gold .gold_right {
    margin-right: 10px;
}


.fpkdetail_1_poolbet .fpk_silver_gold {
    text-align: center;
    padding: 10px 10px 10px 0px;
    border-right: 1px dashed #999;
}

.fpk_pool h1 {
    color: #ffc452;
    text-align: center;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding: 20px 0;
}

.fpk_pool {
    padding: 15px 0 0 0;
    background-color: #000;

    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
}


.fpk_pool .fa-bolt {
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin: 0 5px;
}

.gold_right,
.sivler_right {
    margin-bottom: 0;
}

.fpkdetail_4_money {
    width: 100%;
    padding: 30px;
    text-align: center;
}

.fpkdetail_1_bet {
    display: inline-block;
    margin-left: -4px;
    margin-right: 3%;
    margin-bottom: 4%;
}

.fpkdetail_1_money {
    display: inline-block;
    margin-left: -4px;
    margin: 0 auto;
    margin-right: 3%;
    margin-bottom: 4%;
}

.fpkdetail_4_money .fpkdetail_1_money .fpk1_rightbtn,
.fpk_finalbet h1,
.fpk_finalbet h3 {
    margin: 0;
    padding: 0;
}

.fpkdetail_1_btn {
    text-align: center;
    display: inline-block;
    margin-left: -4px;
    margin-right: 3%;
    margin-bottom: 4%;
}


.fpkdetail_4_money .fpkdetail_1_bet .fpk1_rightselect h3 {
    margin: 0 5px;
    padding: 10px;
}


.fpkdetail_4_money .fpkdetail_1_money .fpk1_rightbtn .btndefault {
    margin: 0;
    padding: 0;
    padding: 20px;
    font-weight: 600;
    background: #ccc;
    margin-right: 5px;
}

.fpk_pool .fpkdetail_4_money .fpkdetail_1_btn .form_group .input_mainpg {
    margin-bottom: 0;
    margin-right: 0;
    text-align: center;
    color: #f3c035;
    font-weight: 900;
    padding-left: 10%;
    padding-right: 10%;
}

.fpk_finalbet h1 {
    font-size: 60px;
    font-weight: 400;
    margin: 10px 0;
    text-shadow: 3px 3px 2px #000;
}

.fpk_finalbet h4 {
    margin-top: 30px;
}

.fpk1_finalbtn {
    margin-top: 50px;
    text-align: center;
}

.top_btn{
    padding: 0 0 30px 0;
}


.top_btn .fpkdetail_1_top_left .btndefault{
    background: transparent;
    border: 1px solid #ffc452;
    color: #ffc452;
}


.top_btn .fpkdetail_1_top_left .btndefault:hover {
    background: rgba(241, 112, 19, .5);
}

/*賽事選項被選取的狀態*/

.fpk_gamehigh{
    background-color: #664DA1;
    box-shadow: 0px 0px 15px  rgba(241, 112, 19, 0.8);
    border: 3px solid #ffc452;
}

/*下注幣別被選取的樣式*/

.fpk_bethigh{
    border: 3px solid #F2612D !important;
    border-radius: 5px;
}
