
.trade-head{
  border-bottom: 1px solid  #a0a8a84a;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.trade-chart{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.trade-bg{
  margin-bottom: 30px;
  margin-top: 20px;

}

.trade-head-right{
  text-align: right;

}

.ant-tabs{
  width: 100%;
}




/* RWD */
@media screen and (max-width: 767px) {

  .trade-head-right{
    text-align: left;
  }


}
