
/*註冊*/

.join_style .content{
  background-color: transparent !important;
}

.join_style{
background: url(../images/banner/desktop-1155613_1920.jpg) no-repeat left center;
background-size: cover;
}

.join_style .content p {
    padding: 0;
    margin: 0;
    color: #47a5fb;
    font-size: 0.8em;
    width: 100%;
}

.join_style .content .register_content {
    padding: 0;
    margin: 0;
    margin: 20px 0;
}

.join_style .content .register_content .input_mainpg {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 2em;
  color: #6c7277;
  font-weight: 400;
}

/*註冊按鈕*/

.join_style .content .btngroup {
    text-align: center;
    margin: 35px 0 25px 0;
}

.join_style .content h4 {
      color: #47a6ff;
    padding: 0;
    text-align: center;
    font-size: 3em;
    width: 100%;
    margin-bottom: 30px;
}

.join_style .content .first{
  padding: 0;
  margin: 0;
  width: 45px;
  height: 45px;
  border-radius:99em;
  position: relative;
  display: inline-block;
  margin-right: -5px;
}

.join_style .content .first-line{
  display: inline-block;
  margin-right: -4px;
    width: 50px;
    height: 3px;
    background-color: #8036ea;
    transition: all 0.2s;
    margin: 20px 0;
    margin-right: -7px;
}


.join_style .content .empty{
  border: 3px solid #8036ea;
}

.join_style .content .active{
  background: #8036ea;
}

.join_style .content .first p{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6em;
  color: #8036ea;
}

/*忘記密碼*/

#forgot .content .forgot_step{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .steps-action{
        margin-bottom: 60px
  }

}


/*紫色按鈕*/

.loginlobby .content .btngroup{
  margin: 40px;
  text-align: center;
}



/*登入連結*/

.loginLink{
  text-align: center;
  margin: 20px  0px  10px  0px ;
}


/*返回按鈕*/

.join_style .content .join_back {
  margin-left: 40px;
}

.join_style .content .join_back h5,
.join_style .content .join_back i{
  color: #8036ea;
  display: inline;
}

.join_style .content .caption img{
  width: 100%;
}

.join_style .content .caption p{
  color: #5c5c5f;
}


/* change ant design style*/
.steps-content {
  padding-top: 30px;
  padding-bottom:  50px;
}

.steps-action {
  margin-top: 24px;
}

.steps-content > .input_mainpg{
  width:100%;
}

.ant-steps{
  margin-top: 24px;
}
.ant-steps-item-process .ant-steps-item-icon{
  background-color: #8036ea;
  border-color: #8036ea;
}
.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
  color: #8036ea;
}
.ant-steps-item-finish .ant-steps-item-icon{
  border-color: #8036ea;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after{
    background-color: #8036ea;
}

.ant-btn-primary{
  background-color: #8036ea;
  border-color: #8036ea;
}
.ant-btn:hover, .ant-btn:focus{
  color: #8036ea;
  border-color: #8036ea;
}

.ant-btn-primary:hover{
  background-color: #febf01;
  border-color: #febf01;
}

.ant-btn-primary:focus{
  background-color:#8036ea;
  border-color: #8036ea;
  color: white;
}
