/*下拉式選單的連結*/

.ant-dropdown-link,
.ant-dropdown-link:hover{
	color: #fff;
    font-weight: 500;
}

/*下拉式選單樣式*/

.ant-dropdown-menu{
	border-radius:0;
	background-color: #333;
    box-shadow: 0 0 6px rgba(0, 0, 0, .9);
    top:15px;
		padding: 10px;
    border: 1px solid #111;
}

/*選單內文字*/

ul li .ant-dropdown-menu-item-group-title{
	color: #fdc200;
}

.ant-dropdown ul li a{
	color: #ccc;
	font-weight: 400;
}

/*選單hover效果*/

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover{
	background-color: #252525;
}

.ant-dropdown-menu-item:last-child,
.ant-dropdown-menu-submenu-title:last-child{
	border-radius:none;
}

/*公告的喇叭size*/

.fa-bullhorn{
	font-size: 20px !important;
}

/*解決公告變化時，偏移的問題*/

.bulletin p{
	margin-left: 0 !important;
}



/*左右區塊對齊*/

.live_bg h3{
	margin-top: 40px;
}

/*內文標題*/

.news_text_right h3{
	font-weight:400;

}

.news_text_right h4{
	color: #ddd;
}

/*小姊姊直播*/

.live_bg h4{
    color: #666;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}

.live_list h4 {
	color: #885bcc;
	font-size: 1.5em;
	text-align: center;
	margin: 15px 0;
}

.liveing .Liveing_title h3{
    text-align: center;
    margin: 30px;
    color: #f17013;
    font-weight: 400;

}

.news_1 hr,
.live_list_1 hr{
    border-top: 1px dashed #6D6E75;
}

/*頁碼樣式*/

.ant-pagination li .ant-pagination-item-link{
  border: 2px solid #47a5fb;
    background-color: #47a5fb;
    border-radius: 4px;
    outline: none;
    display: block;
    transition: all .3s;
    color: #fff;
}

.ant-pagination{
	text-align: center;
	margin-top: 20px;
}

.ant-pagination-item a{

}

.ant-pagination-prev .ant-pagination-item-link:hover,
.ant-pagination-next .ant-pagination-item-link:hover{
	color: #fff !important;
}

.ant-pagination-prev,
.ant-pagination-next{
	border:none !important;
}

.ant-pagination-item{
	border:none !important;
	background-color: transparent !important;
}

.ant-pagination-item-active {
    background-color: transparent;
}
