/*引入 <link href="https://fonts.googleapis.com/css?family=Asap|Frank+Ruhl+Libre|Goudy+Bookletter+1911|Josefin+Sans|Lato|Noto+Sans|Questrial|Titillium+Web" rel="stylesheet"> */

.liveing_text .liveingtext{
  margin: 15px 0 0 0;
}

body{

    background-color: #2d2d2d !important;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
}

.news_text_right h3{
    font-size: 3em;
    margin: 0;
    position: relative;
    top: -20px;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 3px 3px #00000094;
}

.AllHeader{
     background: #6feae7;
}

#mainNews{
    padding-top: 366px;
    padding-bottom: 60px;
}
