/*整體背景顏色*/

body {
    background-color: #fdfdff;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: #fdfdff;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: #fdfdff;
    background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    background-color: #fdfdff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif !important;
}

/*限制內容區塊的框*/

.content {
    background-color: #ffffff70;
    box-shadow: 0 0 10px #c6cbce87;
    overflow: hidden;
    border: 1px solid #a0a8a84a;
    border-radius: 5px;
    margin-top: 80px;
    margin-bottom: 80px;
}

hr {
    border-top: 1px dashed #a0a8a84a;
    padding: 0;
    margin: 0;
}

i {
    color: #5c5c5f;
}


a {
    text-decoration: none !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}


/*header*/

.top_grayline {
    margin: 0 auto;
    height: 40px;
}

.header_yellowline {
    margin: 0 auto;
    border-bottom: 1px solid #615c7b3b;
}



.carousel-inner {
    margin: 0 auto;
    height: 400px;
}

.carousel-inner>.item>img {
    width: auto;
    height: 100%;
}


/*下拉式選單*/

.top_box {
    float: right;
    text-align: right;
    margin-top: 5px;
}

.top_float {
    padding: 0 0 0 10px;
    width: 100%;
}

.top i {
    vertical-align: middle;
    color: #8036ea;
}

.top .top_box img {
    width: 29px;
    margin: 0;
    padding: 0;
}

.top_float .top .top_box a {
    padding: 0 10px;
}



/*按鈕+logo列*/

header .top-menu ul {
    margin: 0;
    display: flex;
    padding: 15px 15%;
}

header .top-menu ul li {
    display: inline-block;
    margin-left: -4px;
    margin-bottom: -3px;
    text-align: center;
    flex: 1;
}


header .top-menu ul li a {
    color: #5c5c5f;
    display: block;
}

header .top-menu ul li a:hover,
header .top-menu ul li a.active {
    color: #8036ea;
}

header .top-menu ul li a h5 {
    margin: 15px 0;
    font-size: 1em;
    font-family: 'Overpass';
    display: block;
}


header .top-menu h5:after {
    content: '';
    position: relative;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #8036ea;
    transform: translateX(-50%);
    transition: all 0.2s;
    display: block;
}

header .top-menu ul li:hover h5:after {
    width: 60%;
}

.logo_middle:before {
    content: ‘’;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
}

header .top-menu ul li .logo {
    vertical-align: middle;
    margin: 9px 0;
}

header .top-menu ul li .logo img {
    width: 100px;
}

.logo_middle {
    flex: 2 !important;
}


/*slide*/

.slide {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.slide .banner_frame {
    padding: 0;
    margin: 0;
    width: 100%;
}

.slide .banner_frame img {
    width: 100%;
    min-height: 200px;
    overflow: hidden;
}



/*slideshow箭頭的位置&顏色*/

.carousel i{
	margin-top: 80%;
	color: #fff;
}



footer {
    text-align: center;
    background-color: #634d80;
    background-image: url('./images/shattered.png');
    padding: 30px 0;
    border-top: 2px solid #8036ea;
}

.footer_title img {
    padding: 0;
    margin: 0;
    width: 35px;
    position: absolute;
    top: -72px;
    margin: 0 auto;
}

.footer_content p {
    font-size: 0.8em;
    color: #fff;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    margin: 0 15px;
}

.footer_content p:hover {
    color: #ffbf1b !important;
}






@media screen and (max-width: 769px) {


    .news_img_left {
        display: block;
        width: 100%;
        margin-right: 0;
    }


    .news_text_right {
        display: block;
        width: 100%;
        vertical-align: middle;
    }
}






/*按鈕樣式，未改*/

.btnsys {
    font-size: 14px;
    border: 1px solid #000;
    width: 80px;
    height: 30px;
    display: block;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    transition: all 0.15s ease-out 0s;
    font-weight: bolder;
    float: left;
    background-color: #ffdf00;
    color: #000;
    cursor: pointer;
}

.btnsys:hover {
    background-color: #ec6c3a;
    color: #000;
}


.btndefault {
    transition: all 0.15s ease-out 0s;
    background: linear-gradient(45deg, #8036ea 0%,#a67ae8 100%);
    border-radius: 30px;
    margin: 0;
    padding: 15px 80px;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.btndefault:hover {
    color: #fff;
    background: -webkit-linear-gradient(left, #febf01 0%, #febf01 100%);
    transition: all 0.15s ease-out 0s;
}



/*清除浮動*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400 !important;
    letter-spacing: 0.6px !important;
}


h2,
h3,
h4 {
    letter-spacing: 1.3px !important;
}




/*還不知道是用在哪，先留著*/


/*Title Image*/

.con-toparea {
    width: 100%;
    height: 35px;
    display: block;
    float: left;
    padding-top: 40px;
}

.titleimg {
    width: 211px;
    height: 45px;
    display: block;
    float: left;
    margin-right: 115px;
}


/*input style*/

.input_mainpg {
    color: #5c5c5f;
    font-size: 1em;
    padding: 10px 1px;
    border: none;
    border-bottom: 1px solid #8036ea;
    text-align: left;
    background-color: transparent;
    cursor: text;
}


.input_mainpg:focus {
    border-bottom: 1px solid #ffbf1b;
    outline: none;
    transition: all 0.15s ease-out 0s;
    cursor: text;
}

.necessary {
    color: rgb(234, 93, 113)!important;
    position: relative!important;
    margin: 0!important;
    line-height: 40px!important;
}



  /*Inputerror 彈跳視窗修正*/
.ant-notification-notice-icon{
  top:auto!important;
  margin-top: -13px!important;
}





  /*CSSTransition   換頁面的轉換效果*/
  .example-enter{
     opacity: 0;
     transform: translateX(100px);
  }

  .example-enter-active{
    opacity: 1;
    transform: none;
    transition: opacity .5s, transform .5s;
  }
  .example-leave{
    position: absolute;
    opacity: 1;
    transform: none;
  }

  .example-leave-active{
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s,transform 1s ;
  }
