
/*下半部，輸入部分*/

.contact .content .contact_wrap {
  margin-top: 20px;
}

.contact .content .contact_wrap .contact_box .contact_content textarea{
    padding: 0;
    margin: 0;
  width: 100%;
  border: none;
  border: 1px solid #8036ea;
  border-radius: 5px;
  padding:5px;
  font-size: 0.8em;
    color: #5c5c5f;
    display: block;
     height: 187px;
    margin-top: 10px;
    background: transparent;
}


.contact .content .contact_wrap .contact_box .contact_content textarea:focus{
  border: 1px solid #ffbf1b;
    outline: none;
    transition: all 0.15s ease-out 0s;
}

.btngroup{
    width: 100%;
    padding: 0;
    margin: 20px 0;
    text-align: right;
}

