a,
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

main {
    padding-top: 20px;
}

main .product .content {
    overflow: visible;
}



/*切換類別button*/

main .product .content .toggle_button .list-inline {
    text-align: center;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #fff;
    border-radius: 15px;
    border: 3px double #ffe9bb;
    position: relative;
    top: -20px;
    margin-bottom: 30px;
}


main .product .content .toggle_button .list-inline li a {
    font-size: 1.2em;
    color: #ffbe34;
    padding: 21px;
    background: transparent;
}

main .product .content .toggle_button .list-inline li a:hover {
    color: #8036eb;
}



/*產品欄位*/

.product .content .product_box {
    margin: 0;
    padding: 0;
    background: #fffdf7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #ffe9bb;
    margin-bottom: 20px;
}


.product .content .product1_top {
    text-align: center;
    position: relative;
    height: 220px;

}

.product .content .product1_top img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.product .content .game1_bottom h4 {
    font-size: 1em;
    color: #92702b;
}

.product .content .game1_bottom h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #92702b;
}

.product .content .game1_bottom .btngroup {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product_img_slide {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

.product_img_slide i {
    padding-top: 0;
    margin: 0 3px;
    cursor: pointer;
    color: #ffbe34;
}




/*產品詳細頁*/

.detail_right h4 {
    padding: 0;
    margin: 0;
    color: #fbc13f;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail_right h3 {
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #5c5c5f;
}

.detail_right h5 {
    font-size: 1.5em;
    color: #5c5c5f;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail_right p {
    font-size: 0.8em;
    color: #89898c;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}




/*slide*/

.detail_slide {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.detail_slide .detail_img {
    /*position: relative;
    width: auto;
    display: flex;*/
}



/*圖片全部水平*/

.detail_slide .detail_img img {
    position: absolute;
    width: 100%;
    height: 300px;
    border-radius: 15px;
}



/*第一張*/

#img1 {
    left: 0px;
}


/*第二張*/

#img2 {
    left: 357px;
    opacity: 0;
}

#img3{
   left: 714px;
   opacity: 0;
}


/*第三張*/


/* + + - -*/

.detail_quantity p,
.detail_quantity i {
    font-size: 1.2em;
    color: #5c5c5f;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.detail_quantity i {
    color: #ffbe34;
    cursor: pointer;
    padding: 3px 5px;
}


.detail_quantity .fa-window-minimize {
    vertical-align: super;
}

.detail_quantity {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-top: 1px dashed #615c7b3b;
    border-bottom: 1px dashed #615c7b3b;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.detail_quantity #quantity_digital {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 30px !important;
}



/*加入購物車button大*/

.product_detail .btnsmall {
    font-size: 1em;
    border-radius: 99px;
    text-align: center;
    transition: all 0.15s ease-out 0s;
    color: #ffbe34;
    border: 2px solid #ffbe34;
    padding: 10px 25px;
}

.product_detail .btnsmall:hover {
    background-color: #fbc13f;
    color: #fff;
}

.product_detail .btngroup {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}



/*商品詳細頁-下半部*/

.detail_bottom ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}


.detail_bottom ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: -5px;
}

.detail_bottom ul li a {
    padding: 0;
    margin: 0;
    letter-spacing: 1.3px;
    border: 1px solid #ffbe34;
    padding: 10px 15px;
    color: #ffb20f;
}


.detail_bottom p {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    color: #5c5c5f;
}

.detail_bottom .content {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: 1px solid #ffbe34;
    margin-top: -1px;
    box-shadow: none;
    padding: 50px 16px;
}

#CONTENT2 {
    display: none;
}

.tab_active {
    background-color: #ffbe34;
    color: #fff !important;
}
