.promotion .content .promotion_item {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    border: 1px solid #615c7b3b;
    box-sizing: border-box;
    border-radius: 5px;
}

.promotion .content .promotion_item .promo_img img{
    width: 100%;
    height: 250px;
}

.promotion .content .promotion_item .promotion_text h4 {
    margin: 0;
    padding: 10px 0;
    color: #8036ea;
    text-align: center;
}

.promotion .content .promotion_item .promotion_text p {
    margin: 0;
    padding: 10px;
    padding-top: 0;
    font-size: 0.8em;
    color: #5c5c5f;
}

.promotion .content .promotion_item h5 {
    margin: 0;
    padding: 8px 0;
    color: #fff;
    background-color: #8a5ec3;
    text-align: center;
    font-weight: 300;
}

.promotion .content .promotion_item h5 i {
    color: #fff;
}