
.container .col-md-12 .category{width: 1200px;}
.container .col-md-12 .category{padding-top: 10px;}
.container .col-md-12 .category .product{display: inline-block;margin-right: 30px;margin-bottom: 35px;}
.container .col-md-12 .category .product:nth-child(4n+1){margin-right: 0;}
.container .col-md-12 .category .product a{width: 270px;height: 260px;}
.container .col-md-12 .category .product a .itemtext{height: 95px;}
.container .col-md-12 .category .product a .itemtext p{margin-bottom: 10px;height: 40px;}
.container .col-md-12 .category .product a .remspot{right: -5px;top: -5px;background-position: -86px -169px;}
.category .ant-spin-text{position: relative;top: 300;}
